!!! 5
%html
  %head
    %title Tick-Tack-Toe
  %script{:src => "jquery-1.7.1.min.js", :type => "text/javascript"}
  %script{:src => "original.js", :type => "text/javascript"}
  %link{:href => "http://fonts.googleapis.com/css?family=Cabin+Condensed", :rel => "stylesheet", :type => "text/css"}
  %style{:type => "text/css"}
    :sass
      body
        background-color: #FFF
        font-family: 'Cabin Condensed', sans-serif
        text-align: center
      #board
        z-index: 1
      #hover
        z-index: 0
      #container
        margin: auto
        position: relative
        width: 300px
        height: 300px
        canvas
          position: absolute
      #terminal
        color: #CCC
      .wait
        color: #900
      .queued
        color: #666
      h1
        span
          color: #090
          font-size: 50%
          display: block
          padding: 5px
  %body
  %h1 Tick-Tack-Toe <span></span>
  #container
    %canvas#board{:width => 300, :height => 300}
    %canvas#hover{:width => 300, :height => 300}
  %pre#terminal
